html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: #f0dbce;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  grid-template-areas:
  "header header";
}

img {
  width: auto;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: "header";
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  background-color: lavender;
  background-image: url("../art-images/another-header1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 225% auto;
  width: 100%;
}

nav {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  grid-row: 1/-1;
  grid-column: 1/-1;
}



li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  background-color:	transparent;
  padding: .5rem;
  font-size: 1em;
  color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 7px;
  color: black;
}

a:hover {
  border-style: solid;
  border-width: thin;
  border-radius: 7px;
  border-color: black;
  background-color: black;
  color: #f0dbce;
}

h1 {
  grid-column: 1/-1;
  z-index: 1;
  margin-left: 1rem;
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 5rem;
}

.p1-title{
  text-align: left;
  font-weight: 300;
  line-height: 2rem;
  align-content: center;
}

main {
  margin: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.intro-title {
  margin-bottom: 0;
}

.intro-p {
  margin-top: .5rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.card1 {
  background-color: lavender;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  border-radius: 10px;
  background-image: url("../art-images/images/card-background-purple.jpg");
  background-size: 110% auto;
}

.card2 {
  background-color: lavender;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  border-color: lavender;
  border-radius: 10px;
  background-image: url("../art-images/card-background-purple.jpg");
  background-size: 110% auto;
}

h3 {
  font-weight: normal;
}

footer {
  background-color: #695784;
  bottom: 0;
  width: 100%;
  height: 5rem;
  align-content: space-between;
  color: white;
}

.footer-p {
  margin-left: 1rem;
}

.learn-more {
  padding-bottom: 1em;
}

/* Movements*/

.move-quote {
  font-size: 2em;
  line-height: 1.25em;
  color: #695784;
  font-weight: bold;
}

.learn-move{
    text-decoration: none;
    background-color:	transparent;
    padding: .5rem;
    font-size: 1em;
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    color: black;
    margin-top: auto;
  }

  .learn-move:hover {
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    border-color: #695784;
    background-color: #695784;
    color: #f0dbce;
}

.section-move {
  border-top: 10px solid #695784;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

/*Paintings*/
.section-paintings {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}


.div-paintings {
  border-top: 7px solid #695784;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
}


@media only screen and (min-width: 38em) {

  h1{
    margin-left: 5rem;
  }

  main {
    margin: 5rem;
    margin-top: 0;
  }

  .links{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro-p {
    margin-right: 0;
  }

/* movements*/

  .main-move {
    grid-template: none;
    grid-gap: 2rem;
  }


}


@media only screen and (min-width: 62.5em) {

  h1{
    margin-left: 5rem;
  }

  main {
    display: grid;
    grid-template-areas:
    "intro card1"
    "intro card2";

  }

  .intro {
    grid-area: intro;
  }

.intro-p {
  margin-right: 4.5em;
}

  .links {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1em;
    margin-left: 3em;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;

  }

  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;
  }

  .learn-more {
    padding-bottom: .5em;
  }

/* movements*/

  .main-move {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}

@media only screen and (min-width: 92em ) {

  main {
    margin-left: 10rem;
  }

  h1{
    margin-left: 2rem;
  }

  /* movements*/

  .main-move {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
    grid-gap: 2rem;

  }
}
